In [1]:
import pandas as pd
import numpy as np

In [48]:
data = {'PorchType': ['TypeA','TypeB','TypeA','TypeA','TypeC', 'TypeB'],
        'PoolType' : ['Pool1', 'Pool4','Pool4','Pool3', 'Pool1', 'Pool2'],
        'RoofType' : ['Roof3','Roof4','Roof2','Roof4','Roof3','Roof2'],
       'SalePrice': [343541,140555,430000,510000,450000,120000]}

In [49]:
df = pd.DataFrame(data)

In [50]:
df

  PorchType PoolType RoofType  SalePrice
0     TypeA    Pool1    Roof3     343541
1     TypeB    Pool4    Roof4     140555
2     TypeA    Pool4    Roof2     430000
3     TypeA    Pool3    Roof4     510000
4     TypeC    Pool1    Roof3     450000
5     TypeB    Pool2    Roof2     120000

In [43]:
# df.dtypes
categorical = df.select_dtypes(include=['object']).columns.to_list()

In [44]:
categorical

['PorchType', 'PoolType', 'RoofType']

In [24]:
df.groupby('PorchType').size()

PorchType
TypeA    3
TypeB    2
TypeC    1
dtype: int64

In [33]:
df['Frequency for PorchType']=df.groupby('PorchType').transform('count')/len(df['PorchType'])

In [53]:
# for c in categorical:
#     df['Frequency of '+c] = df.groupby(c).transform('count')/len(df[c])

for c in categorical:
    df['Frequency of '+c] = df.groupby(c).transform('count')/len(df[c])

TypeError: You have to supply one of 'by' and 'level'

In [47]:
df.head()

   PorchType  PoolType  RoofType  SalePrice
0   0.500000  0.333333  0.333333     343541
1   0.333333  0.333333  0.333333     140555
2   0.500000  0.333333  0.333333     430000
3   0.500000  0.166667  0.333333     510000
4   0.166667  0.333333  0.333333     450000